@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital@1&family=Noto+Sans+KR&family=Nunito:wght@200;400&family=Pattaya&display=swap');


*{margin: 0;padding: 0;box-sizing: border-box;}
.main{width: 97%;height: 97.5vh;padding: 4px;margin: 8px;}
.Coverpagewrapper{border:5px solid #292f3f;border-radius: 15px;background-image: url("../../assets/img/peacetbackground.png");background-size: 31cm;background-repeat: no-repeat;}
.backgimg img{ width: 100vh;height: 100vh;background-repeat: repeat-x;}
.Header{display: flex;height: 12vh;}
.logo img{width: 15vh;height: 10vh;}
.Navbar ul{display: flex;list-style: none;justify-content: flex-end;margin-left: 650px;}
.Navbar li{padding: 30px;font-weight: 700;font-size: 20px;}
.Navbar li:hover{background: #292f3f;color: aqua;}
.Body{display: flex;}
.Leftside{width: 30%;font-family: 'Noto Sans KR', sans-serif;height: 82vh;padding: 70px;font-size: 40px;font-weight: 1000;color: #292f3f;}
.Leftside p{margin-left: 80px;}
.Rightside{width: 70%;height: 79vh;}
.Webname{padding: 40px;margin-left: 30%;font-size: 40px;font-weight: 1000;font-family: 'Montserrat', sans-serif;color: #292f3f;}
.Image img{width: 130vh;height: 57vh;border-radius: 132px;margin-left: 49px;margin-top: 11px;}


